<div class="bg-light">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-group">
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <a [routerLink]="['']">
                            <img src="{{ title }}" height="100px" width="auto" />
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <h1 class="font-weight-normal mt-2 mb-3">Inicia sesión</h1>
                    </div>
                    <div class="row">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" class="form-control py-4 mt-2" formControlName="email" id="inputEmail" placeholder="Email" aria-describedby="inputGroup-sizing-lg" required autofocus>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" class="form-control py-4" formControlName="password" id="inputPassword" placeholder="Contraseña" aria-describedby="inputGroup-sizing-lg" required>
                    </div>
                    <div *ngIf="error != ''" class="alert alert-danger mt-2" role="alert">
                        {{error}}
                    </div>
                    <div class="row justify-content-center mt-4 mb-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block p-2">Iniciar sesión</button>
                    </div>
                    <div class="row text-center justify-content-center">
                        <a class="nav-link sign-up" [routerLink]="['/signup']">
                          ¿No tienes cuenta? Regístrate, ¡es gratis!
                          <span class="sr-only">(current)</span>
                        </a>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <p class="text-muted">© 2021</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>