@import "../../styles";
nav {
    a.navbar-brand {
        transition: all 0.6s ease;
        color: $dark-green;
        &:hover {
            color: $green;
        }
    }
}

#search-input {
    border-radius: 0;
    border-left: 0;
}

#basic-addon1 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

#button-addon1 {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: $gray-200;
    &:hover {
        background-color: $green;
    }
}

a.nav-link.sign-in {
    transition: all 0.6s ease;
    color: $gray;
    &:hover {
        color: $black;
    }
}

.btn.btn-primary {
    transition: all 0.6s ease;
}