<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="input-group mb-3 search-box">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">🔍</button>
        </div>
        <input type="text" class="form-control" placeholder="¿Qué estás buscando?" aria-label="text with button addon" aria-describedby="button-addon1">
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link sign-in" href="#">Inicia sesión <span>👤</span><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link sign-up" href="#">¿No tienes cuenta?<br>¡Regístrate!<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
