@import "../../styles";
.footer {
    background-color: $gray-100;
}

a {
    color: $dark-green;
    background-color: transparent;
    .disabled {
        color: black;
    }
}

span {
    font-size: 32px;
}

span.copyright {
    font-size: 14px;
}