<div class="container-fluid bg-gray-100">
    <div class="row text-center pb-5 mb-5 pb-md-0 mb-md-0">
        <div class="col-sm-10 col-md-4">
            <p class="font-weight-bold pt-3" id="title">
                <img src="{{ title }}" height="70px" width="auto" />
            </p>
            <p class="font-weight-bold copyright my-0">
                Copyright © 2021 GardenForYou©
            </p>
            <p class="font-weight-bold copyright mt-0">
                de sus respectivos propietarios
            </p>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row pb-sm-5">
                <!--
            <div class="col-sm-12 col-md-4 pt-3">
                <p class="font-weight-bold">{{ titulo }}</p>
                <a href="#">Sobre nosotros</a>
            </div>
            -->
                <div class="col-sm-12 col-md-6">
                    <p class="font-weight-bold pt-4">Soporte</p>
                    <a href="support/contactus">Contáctanos</a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="font-weight-bold pt-4">Legal</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="legal/terms-of-use" class="pb-sm-5 mb-sm-5">
                              Condiciones de uso
                            </a>
                        </li>
                        <li>
                            <a href="legal/privacy-policies" class="pb-sm-5 mb-sm-5">
                              Política de privacidad
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid fixed-bottom d-block d-sm-none bg-success">
    <div class="row">
        <div class="col-4 pt-2">
            <a href="" class="icon d-flex justify-content-center">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="col-4" *ngIf="!logged">
            <a href="update/product" class="icon d-flex justify-content-center">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>
        <div class="col-3" *ngIf="logged">
            <a href="update/product" class="icon d-flex justify-content-center">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>
        <div *ngIf="!logged" class="col-4">
            <div class="row py-2 bg-none d-flex justify-content-center">
                <a href="login" class="font-weight-bold mt-1" id="access">Accede</a>
            </div>
        </div>
        <div *ngIf="logged" class="col-5">
            <div class="row justify-content-end">
                <div class="col-6 pt-2 pb-1">
                    <a href="chat" class="icon">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
                <div class="col-6 py-1">
                    <a href="edit/profile" class="icon">
                        <img *ngIf="image != null" class="rounded" src="{{ image }}" width="50" height="50" />
                        <i *ngIf="image == null" class="fas fa-user-circle text-white header-icon mt-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>