@import "../../styles";
//-footer-general----------------------
a {
    color: $black;
}

.bg-gray-100 {
    background-color: $gray-100;
}

#title {
    font-size: 32px;
}

.copyright {
    font-size: 14px;
}

//-footer-mobile----------
#access {
    font-size: large;
}

.icon {
    i {
        font-size: 45px;
    }
}

i.fas.fa-plus-circle {
    font-size: 60px;
}
