<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="mx-auto">
                    <p class="font-weight-bold">
                        <span>{{ titulo }}</span>
                    </p>
                    <span class="font-weight-bold copyright">Copyright © 2021 {{ titulo }}©
                <br/>de sus respectivos propietarios</span>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-5 col-md-4 mt-2">
                        <p class="font-weight-bold">{{ titulo }}</p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Sobre nosotros</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5 col-md-4 mt-2">
                        <p class="font-weight-bold">Soporte</p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Contáctanos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5 col-md-4 mt-2">
                        <p class="font-weight-bold">Legal</p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Política de privacidad</a>
                            </li>
                            <li>
                                <a href="#">Condiciones de uso</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>