<div class="bg-light">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <form class="form-group" [formGroup]="validateForm" (ngSubmit)="validationCode()">
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <a class="h3 font-weight-bold mt-5" [routerLink]="['']">{{titulo}}</a>
                    </div>
                    <div class="row justify-content-center">
                        <h1 class="font-weight-normal mt-2 mb-5">Validar correo</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <label for="inputPassword" class="text-center">Introduce el código que hemos enviado a tu correo.</label>
                            <input type="password" class="form-control py-4" id="inputPassword" placeholder="Código" formControlName="code" aria-describedby="inputGroup-sizing-lg" required>
                        </div>
                    </div>
                    <div *ngIf="error != ''" class="alert alert-danger mt-2" role="alert">
                        {{error}}
                    </div>
                    <div *ngIf="okeyMsg != ''" class="alert alert-success mt-2" role="alert">
                        {{okeyMsg}}
                    </div>
                    <div class="row justify-content-center my-2">
                        <div class="col-md-6 col-sm-12">
                            <button id="resendMail" type="button" class="btn btn-secondary btn-lg btn-block p-2" (click)="resendEmail()" [disabled]="btnDisabled">
                              Reenviar correo
                            </button>
                            <label src-only="reenviar correo" for="resendMail"></label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <button id="validate" type="submit" class="btn btn-primary btn-lg btn-block p-2">
                              Validar
                            </button>
                            <label src-only="validar correo" for="validate"></label>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <p class="text-muted">© 2021</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>