<div class="card" (click)="goToProduct()">
    <div class="image-part">
        <img src="{{ image }}" class="w-100 h-100" alt="{{ product.title }}" />
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-truncate text-nowrap overflow-hidden">{{ product.title }}</h5>
        <p class="card-text text-truncate text-nowrap overflow-hidden">
            {{ product.description }}
        </p>
        <p class="h5 font-weight-bold text-center">{{ product.price }}€</p>
    </div>
</div>