<div class="bg-light">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="row mt-5 justify-content-center">
                        <a class="h3 font-weight-bold mt-5" [routerLink]="['']">GardenForYou</a>
                    </div>
                    <div class="row justify-content-center">
                        <h1 class="font-weight-normal mt-4">Contacta con nosotros</h1>
                    </div>
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <p class="text-center mb-0 mt-4">Si has tenido algún problema con nuestra web o tienes alguna sugerencia,</p>
                            <p class="text-center mt-0">por favor, háznoslo saber en el siguiente email:</p>
                            <div class="row justify-content-center">
                                <a class="text-center mt-2 mb-5" id="emailContact" [href]="'mailto:gardenforyou.contact@gmail.com?Subject=Hola'">
                                  gardenforyou.contact@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-5 mt-5">
                        <p class="text-muted">© 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
