<div class="row">
    <div class="col-md-2 col-sm-12">
        <app-side-bar-profile></app-side-bar-profile>
    </div>
    <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
            <div class="row py-2 my-3 bg-white shadow-gray">
                <div class="col-md-12">
                    <p>Foto de perfil</p>
                </div>
                <div class="col-6 mx-auto text-center">
                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Cambiar foto</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>
                </div>
                <div class="col-3 text-right"></div>
                <div class="image-area p-5"><img id="imageResult" src="#" alt="" class="img-fluid rounded-pill shadow-sm mx-auto d-block"></div>
            </div>
            <div class="row py-2 my-3 bg-white shadow-gray">
                <div class="col-12 mb-3">
                    <span class="text-muted">Información pública</span>
                </div>

                <div class="col-md-6 mb-3 border-bottom">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control mb-3" id="name" placeholder value required>
                    <div class="invalid-feedback">El nombre es requerido.</div>
                </div>
                <div class="col-md-6 mb-3 border-bottom">
                    <label for="surName">Apellidos</label>
                    <input type="text" class="form-control mb-3" id="surName" placeholder value required>
                    <div class="invalid-feedback">El apellido es requerido.</div>
                </div>
                <div class="col-12">
                    <label for="address">Ubicación de tus productos</label>
                    <input type="text" class="form-control" id="address" required>
                </div>
                <div class="col-12 mx-auto">
                    <div id="map-container-google-1" class="z-depth-1-half map-container position-relative my-1">
                        <iframe class="border-0 ml-0 mt-0" id="ubicationResult" src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-muted">Aquí está ubicado tu perfil y donde aparecerá todo lo que subas.</p>
                </div>
            </div>
            <div class="col-8 my-3 text-center">
                <button type="button" class="btn btn-primary position-relative mt-1 mb-4 font-weight-bold" type="submit">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>