<div class="row">
  <div class="d-flex flex-column p-3 bg-gray-200" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">

        <span class="card-user-tab-title">

          PERFIL

      </span>
      <div class="profile-button-border-bottom"></div>
    </ul>
</div>

  <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate>
          <div class="photos">
              <h1 class="text-muted text-center">www.jardineriarobledo.es</h1>
              <div class="ProfilePro__avatar" style="background-image: url(''), url('')"></div>
               <img src="img/Jardinero.jpg" class="rounded float-left" alt="...">
              <div class="input-group mb-3 px-0 py-0">
              </div>
              <h2 class="text-muted text-center">contacto</h2>
          </div>

          <div class="public">
              <div class="mb-3">

              </div>
              <hr class="mb-4">
              <div class="mb-3">
                  <label for="address">Ubicación</label>
                  <!--Google Maps-->
                  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px">
                      <iframe id="ubicationResult" src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                  <!--Google Maps-->
                  <p class="text-muted">LISTADO DE PRODUCTOS</p>
              </div>
          </div>
          <div class="container user-profile">
            <div id="js-container-reviews" class="js-profile-container-holder container-reviews hidden">
              <div class="reviews">

              </div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </form>
  </div>
</div>
