<div class="container mt-2">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="row">
                <div class="col-sm-12 col-md-3 p-3">
                    <a class="nav-link text-body" [routerLink]="['/edit/profile']"></a>
                    <img *ngIf="image != null" class="rounded" src="{{ userProfile.image.url }}" width="45" height="45" />
                    <i *ngIf="image == null" class="fas fa-user-circle text-white header-icon"></i>
                </div>
                <div class="col-sm-12 col-md-9 p-2 text-center">
                    <h1>
                        {{ userProfile.firstName }} {{ userProfile.lastName }}
                        <i *ngIf="userProfile.emailVerified" title="Correo verificado" class="fas fa-check fa-sm text-success"></i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p class="text-muted h2 py-2 mt-2 border-bottom border-success">
                        Listado de productos
                    </p>
                </div>
                <!--
                <div *ngIf="expression">
                    No hay productos que mostrar.
                </div>
                -->
                <div *ngFor="let product of userProfile.products" class="col-md-4 col-sm-12 mb-2">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </div>
    </div>
</div>
