<div class="container-fluid">
  <div class="row">
    <div
      class="col-sm-12 col-md-3 border-right border-light"
      [ngClass]="{
        'd-none d-md-block': chatId != null
      }"
    >
      <app-chat-list></app-chat-list>
    </div>
    <div
      class="col-sm-12 col-md-6"
      [ngClass]="{
        'd-none d-md-block': chatId == null
      }"
    >
      <div class="row h-100">
        <div
          *ngIf="chatId == null"
          class="text-center align-self-center col-12"
        >
          Selecciona un chat para empezar a hablar
        </div>
        <div
          id="chat-part-top"
          *ngIf="chatId != null"
          class="
            align-self-start
            col-12
            py-1
            d-flex
            border-bottom border-success
          "
        >
          <img
            class="d-block overflow-hidden"
            src="{{ otherUser.image.url }}"
          />
          <p class="ml-2 my-auto font-weight-bold">{{ otherUser.username }}</p>
          <div class="dropdown ml-auto d-block d-md-none">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="dropdownChatMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownChatMenu">
              <a class="dropdown-item text-primary" href="#">Ver producto</a>
              <a
                class="dropdown-item text-info"
                *ngIf="product.idPublisher == userId"
                href="#"
                >Marcar como vendido</a
              >
              <a class="dropdown-item text-danger" href="#"
                >Eliminar conversación</a
              >
              <a class="dropdown-item text-danger" href="#">Reportar usuario</a>
            </div>
          </div>
        </div>
        <div *ngIf="chatId != null" class="col-12 mb-3">
          <div
            id="allChats"
            class="overflow-auto"
            #allChatsContainer
            [scrollTop]="allChatsContainer.scrollHeight"
          >
            <div class="my-3" *ngFor="let message of messages">
              <app-message-item
                [userId]="userId"
                [message]="message"
              ></app-message-item>
            </div>
          </div>
        </div>
        <div id="chat-part-bot" class="align-self-end input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Escribe un mensaje"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-primary"
              type="button"
              id="send-button"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-3">
      <app-chat-info></app-chat-info>
    </div>
  </div>
</div>
