@import '../../styles';
* {
    background-color: $gray-100;
    font-size: 18px;
}

.container {
    * {
        background-color: $white;
    }
}

.btn-light {
    color: $green;
    &:hover {
        background: $white;
        color: $dark-green
    }
    p {
        color: $black;
    }
}

i {
    font-size: 64px;
}

button {
    color: $dark-green;
    &:hover {
        background-color: $gray-100;
    }
    .save-changes {
        button.btn.btn-primary {
            position: relative;
            margin-left: 40%;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }
    }
}


/*-------------------------------------------------
el área de insertar imagen-----------------------*/

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed $gray;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'zona de subida';
    color: $gray;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}


/*-----------va hasta aquí-----------------------
--------------------------------------------------*/