<div class="d-flex justify-content-center">
    <div class="container col-md-8 bg-light mt-3">
        <div class="row mx-auto py-4">
            <div class="col-12 text-center">
                <p class="h2">¿Qué quieres vender?</p>
            </div>
            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="row">
                    <button type="button" class="btn btn-light col-6 my-3 text-center">
                    <p>Insecto</p>
                    <i class="fas fa-bug ml-1"></i>
                  </button>
                    <button type="button" class="btn btn-light col-6 my-3 text-center">
                    <p>Planta</p>
                    <i class="fas fa-seedling ml-1"></i>
                  </button>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" placeholder value required>
                    <div class="invalid-feedback">Un título es requerido.</div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" id="description" placeholder value required></textarea>
                    <div class="invalid-feedback">Una descripción es requerida.</div>
                </div>
            </div>
        </div>
        <hr class="mb-4" />
        <!-- Upload image input-->
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">
                <p class="text-left text-muted mb-0"><small>Sube hasta 5 fotos de lo que quieres vender.</small></p>
                <div class="image-area px-4">
                    <div class="input-group pl-5 py-5 bg-white">
                        <p for="upload" class="btn btn-primary rounded-pill px-2 shadow-sm font-weight-light"><i class="fas fa-plus"></i> Sube fotos</p>
                        <input id="upload" type="file" onchange="readURL(this);">
                    </div>
                </div>
            </div>
        </div>
        <!-- Uploaded image area-->
        <hr class="mb-4" />
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Categoría</label>
                <input type="text" class="form-control" id="firstName" placeholder value unrequired>
            </div>
            <div class="col-md-6 mb-3">
                <label for="surName">Precio</label>
                <input type="text" class="form-control" id="surName" placeholder value unrequired>
                <p class="">€</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Subcategoría</label>
                <input type="text" class="form-control" id="firstName" placeholder value unrequired>
            </div>
            <div class="col-md-6 mb-3">
                <label for="surName">Precio</label>
                <input type="text" class="form-control" id="surName" placeholder value unrequired>
                <div class="invalid-feedback">El apellido es requerido.</div>
            </div>
        </div>
    </div>
</div>
<div class="save-changes d-flex justify-content-center my-3">
    <button class="btn btn-primary" type="submit">Guardar cambios</button>
</div>
