@import '../../styles';
.row.background {
    background-color: $gray-100;
}

.product {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0px 2px 15px $gray-200;
    * {
        background-color: $white;
    }
}

label.btn.btn-primary {
    color: $dark-green;
    &:hover {
        background-color: $gray-100;
    }
}

.btn-light {
    color: $green;
    &:hover {
        background: $white;
        color: $dark-green
    }
    p {
        color: $black;
    }
}

i {
    font-size: 64px;
}

i.fas.fa-plus {
    font-size: 20px;
}

i.fas.fa-euro-sign {
    font-size: 20px;
}

button.btn.btn-primary.position-relative.mt-1.mb-4 {
    position: relative;
    margin-left: 40%;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}


/*-------------------------------------------------
el área de insertar imagen-----------------------*/

#upload {
    opacity: 0;
    margin-top: -30%;
    margin-left: -30%;
}

i.fas.fa-plus {
    font-size: 20px;
}

.image-area {
    border: 2px dashed $gray-200;
    padding-right: 50%;
    padding-left: 50%;
    position: relative;
}

.image-area img {
    z-index: 2;
    position: relative;
}


/*-----------va hasta aquí-----------------------
--------------------------------------------------*/
