@import '../../styles';
.image-area {
    border: 2px dashed $gray-200;
    padding: 1rem;
    position: relative;
    img {
        z-index: 2;
        position: relative;
    }
}

button {
    color: $dark-green;
    &:hover {
        background-color: $gray-100;
    }
    .save-changes {
        button.btn.btn-primary {
            position: relative;
            margin-left: 40%;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }
    }
}
