<div class="row">
    <app-side-bar-profile></app-side-bar-profile>
    <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
            <div class="birthday">
                <div class="row">
                    <div class="mb-3">
                        <label for="birthday">Fecha de nacimiento:</label>
                        <input type="date" id="birthday" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="info-account">
                <div class="mb-3">
                    <span class="text-muted cc-cursor">Información de la cuenta</span>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <button type="button" class="btn btn-primary email">Cambiar email</button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <button type="button" class="btn btn-primary password">Cambiar Contraseña</button>
                    </div>
                </div>
            </div>

            <div class="save-changes">
                <button class="btn btn-primary" type="submit">Guardar cambios</button>
            </div>

            <a href="#">Eliminar cuenta</a>


        </form>
    </div>
