@import '../../styles';
* {
    font-size: 18px;
}

.text-muted {
    font-size: 17px;
    a {
        color: $green;
        font-size: 17px;
        &:hover {
            color: $dark-green;
        }
    }
}

.save-changes {
    button.btn.btn-primary {
        position: relative;
        margin-left: 40%;
        color: white;
        font-weight: bold;
        border-radius: 25px;
    }
}

.birthday {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0px 2px 15px $gray-200;
    .save-changes.py-2 {
        .btn.btn-primary {
            background-color: $green;
            color: white;
            &:hover {
                background-color: $darkergreen;
            }
        }
    }
    * {
        background-color: $white;
    }
}

.info-account {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0px 2px 15px $gray-200;
    * {
        background-color: $white;
    }
}