<div class="row">
    <app-side-bar-profile></app-side-bar-profile>
    <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
            <div class="birthday">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="birthday">Fecha de nacimiento:</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="date" id="birthday" class="form-control" required/>
                    </div>
                </div>
                <div class="save-changes py-2">
                    <button class="btn btn-primary" type="submit">Guardar cambios</button>
                </div>
            </div>

            <div class="info-account">
                <div class="form new-email-form">
                    <div class="mb-3">
                        <span class="text-muted cc-cursor">Información de la cuenta</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email">Email Actual</label>
                            <p class="form-control p-2 mb-0" id="email">email.actual@gmail.com</p>
                            <!--Habría que relacionarlo con la API para saber el email actual del usuario y poder poner {{user.email}}-->
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="new-email">Nuevo email</label><br/>
                            <input class="form-control mb-0" type="email" id="new-email" placeholder="Introduce tu nuevo email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3"></div>
                        <div class="col-md-6 mb-3">
                            <button type="button" class="btn btn-primary mb-3 email">Cambiar email</button>
                        </div>
                    </div>
                </div>
                <div class="form new-password-form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password">Contraseña actual</label>
                            <p class="form-control p-2 mb-0" id="password">****************</p>
                            <!--Habría que relacionarlo con la API para saber la contraseña actual del usuario y poder poner {{user.password}} en type="password"-->
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="new-password">Nueva Contraseña</label><br/>
                            <input class="form-control mb-0" type="password" id="new-password" placeholder="Introduce tu nuevo password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3"></div>
                        <div class="col-md-6 mb-3">
                            <label for="new-password">Confirma la nueva Contraseña</label><br/>
                            <input class="form-control mb-0" type="password" id="new-password" placeholder="Introduce tu nuevo password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3"></div>
                        <div class="col-md-6 mb-3">
                            <button type="button" class="btn btn-primary password">Cambiar Contraseña</button>
                        </div>
                    </div>
                </div>
                <p class="text-muted">Si ya no quieres formar parte de {{titulo}} puedes darte de baja pulsando en el siguiente enlace para <a href="#">eliminar la cuenta</a>.</p>
            </div>
        </form>
    </div>
</div>