<div class="row" id="background">
  <div class="col-10 mx-auto p-2 mt-2" id="product-box">
    <div role="button" (click)="goToProduct()">
      <div class="row">
        <div class="col-12">
          <img class="rounded img-fluid" src="{{ image }}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center my-2">
          <button
            *ngIf="product.publisherId == userProfile._id"
            class="btn btn-success px-5 d-block mx-2"
            (click)="markAsSold()"
          >
            <span *ngIf="!product?.sold">Lo he vendido</span>
            <span *ngIf="product?.sold">No está vendido</span>
          </button>
          <button
            *ngIf="product.publisherId != userProfile._id && product?.sold"
            type="button"
            class="btn btn-success rounded text-white float-right"
            disabled
          >
            Este producto esta vendido
          </button>
        </div>
      </div>
    </div>
    <div role="button" class="mb-0 mt-2 row" (click)="goToProduct()">
      <div class="col-12 text-center">
        <p class="font-weight-bold">{{ product.title }}</p>
        <p>{{ product.price }}€</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button class="btn btn-light my-1" (click)="deleteChat()">
        Eliminar conversación
      </button>
    </div>
  </div>
</div>
