@import "../../styles";
#background {
    background-color: $gray-100;
}

#user-box {
    background-color: $light;
    box-shadow: 0px 2px 15px $gray-200;
}

#product-box {
    background-color: $light;
    box-shadow: 0px 2px 15px $gray-200;
}

#bloq {
    box-shadow: 0px 2px 15px $gray-200;
}

.btn-light {
    box-shadow: 0px 2px 15px $gray-200;
}

.btn-primary {
    color: white;
    &:hover {
        color: white;
    }
}

.btn {
    transition: all 0.6s ease;
}

a {
    color: #212529;
}