<div class="row" id="background">
    <div class="container mx-2 mb-2 p-2" id="product-box">
        <a class="text-decoration-none" href="product/:id">
            <div class="row">
                <div class="col-12">
                    <img class="rounded img-fluid" src="{{product.images.url}}" />
                </div>
            </div>
        </a>
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center my-2">
                    <div class="col-6">
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger">Vendido</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="text-decoration-none" href="product/:id">
            <div class="row">
                <div class="col-12">
                    <p class="ml-1">
                        <strong class="">{{product.title}}</strong>
                    </p>
                    <p class="ml-1">{{product.price}}€</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <button class="btn btn-light my-1">Eliminar conversación</button>
        </div>
    </div>
</div>