<div class="container-fluid bg-light">
    <div class="col-12 pt-3">
        <div class="row">
            <div class="col-3">
                <div class="row justify-content-start">
                    <p class="text-muted">
                        Legal > Condiciones de uso y privacidad
                    </p>
                </div>
                <div class="d-flex flex-column d-none d-md-block p-2">
                    <div class="nav-item">
                        <a class="nav-link" [routerLink]="['/legal-terms/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                          Términos y condiciones de uso
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" [routerLink]="['/legal-terms/']" routerLinkActive="active">
                          Política de privacidad
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9" id="terms-of-use">
                <h1 class="font-weight-normal text-center">
                    Términos y condiciones de uso
                </h1>
                <p>
                    Aquí se describen los términos y condiciones generales aplicables al uso de los contenidos y productos a través de GardenForYou.
                </p>
                <p class="h4 mt-1 text-center">
                    INFORMACIÓN RELEVANTE
                </p>
                <p>
                    Para adquirir cualquier insecto o planta, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
                </p>
            </div>
            <div class="col-9" id="privacy-policies">
                <h1 class="font-weight-normal">
                    Política de privacidad
                </h1>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
