<div class="container-fluid bg-light">
    <div class="col-12 pt-3">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-start">
                    <p class="text-muted">
                        Legal > Política de privacidad
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="col-12 pb-5" id="privacy-policies">
                    <h1 class="font-weight-normal text-center">
                        Política de privacidad
                    </h1>
                    <p class="h5 mt-5 mb-3 text-uppercase">Declaración de protección de datos según la Ley Orgánica de Protección de Datos de Carácter Personal</p>
                    <p>Última actualización: 31/05/2021</p>
                    <p>Esta política de privacidad se aplica a la plataforma en línea GardenForYou (en lo sucesivo, «la página web»). Esta plataforma en línea está gestionada por GardenForYou
                        <!--(dirección en la que se encuntre la empresa registrada)-->(en lo sucesivo denominada "nos", "nosotros" o "GardenForYou". Puede obtener más información sobre cómo ponerse en contacto con nosotros al final de esta política de privacidad, en ""</p>
                    <p>GardenForYou, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del la Página Web: GardenForYou, se incluyen en
                        los ficheros automatizados específicos de usuarios de los servicios de GardenForYou.</p>
                    <p>La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el desempeño de tareas de las actividades propias de GardenForYou.</p>
                    <p>Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Datos personales
                    </p>
                    <p>GardenForYou recaba solamente los datos estrictamente necesarios para la consecución de las finalidades de obtención de los mismos.</p>
                    <p>En el caso de que usted se haya registrado en nuestra Página Web
                        <!-- y/o en nuestra Aplicación-->, las finalidades de tratar sus Datos personales son:</p>
                    <ul>
                        <li>
                            <p>Para ponerse en contacto para adquirir cualquier insecto o planta, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
                        </li>
                        <li>
                            <p>Para velar por el buen uso de nuestros servicios y productos, impidiendo que se lleven a cabo usos ilícitos o contrarios a nuestra política y condiciones de uso, pudiendo incluso darle de baja como usuario registrado. La base
                                legitimadora de dicho tratamiento es el cumplimiento por parte de GardenForYou de determinadas obligaciones legales, así como el interés legítimo de proteger nuestros servicios y productos.</p>
                        </li>
                        <li>
                            <p>Conocer su fecha de nacimiento para poder verificar la edad y permitirle acceder a ciertas funcionalidades en nuestra Página web
                                <!-- y/o Aplicación-->
                            </p>
                        </li>
                        <!--cuando se pueda enviar publicidad
                        <li>
                            <p>Mostrarle publicidad ajustada a sus hábitos de consumo y navegación obtenidos del uso de nuestra
                                 aplicación o página web, en atención a nuestro interés legítimo para la mejora de la oferta comercial.</p>
                        </li>
                        <li>
                          <p>Remitirle, por cualquier medio, incluidos por medios electrónicos, comunicaciones comerciales en relación a los productos y servicios ofrecidos por GardenForYou, comunicaciones que podrán dirigirse en atención a sus hábitos de consumo, navegación o utilización de nuestra Página Web y/o nuestra Aplicación. GardenForYou realizará dicho tratamiento en atención a la relación mantenida con usted, teniendo en cuenta que las citadas comunicaciones siempre versarán sobre nuestros productos y servicios. </p>
                        </li>
                        -->
                        <li>
                            <p>Analizar el contenido de los chats en los que interactúe con otros usuarios, al objeto de verificar que se hace un uso lícito de nuestros servicios. Tratamiento que realizaremos al amparo de nuestro interés legítimo para para
                                evitar fraude o actos ilícitos.</p>
                        </li>
                        <li>
                            <p>Gestionar las quejas y consultas sobre los productos y/o servicios adquiridos a través de nuestro correo de contacto
                                <!--nuestra Página Web y/o de nuestra Aplicación-->, siendo la base legitimadora de este tratamiento la obligación legal de GardenForYou de acuerdo con la normativa de defensa de los consumidores y usuarios.</p>
                        </li>
                    </ul>
                    <p>En el caso de no facilitarnos dichos Datos no podremos gestionar el registro solicitado, prestarle el servicio solicitado, facilitarle la información requerida que corresponda en cada caso.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        ¿Cuánto tiempo tenemos sus datos personales?
                    </p>
                    <p>Los Datos Personales proporcionados por el usuario serán almacenados mientras sean necesarios para la funcionalidad de los servicios o no solicites su eliminación y durante el plazo por el cuál pudieran derivarse responsabilidades
                        legales por los servicios prestados.</p>
                    <p></p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Destinatarios
                    </p>
                    <p>Los datos no se comunicarán a ningún tercero ajeno a GardenForYou, salvo obligación legal.</p>
                    <p>La comunicación de datos a las Fuerzas y Cuerpos del Estado se hará en virtud a lo dispuesto en la normativa sobre protección de datos personales.</p>
                    <!--
                    <p>Como encargados de tratamiento, tenemos contratados a los siguientes proveedores de servicios, habiéndose
                      comprometido al cumplimiento de las disposiciones normativas, de aplicación en materia de protección de datos, en el
                      momento de su contratación:</p>
                    <ul>
                      <li>
                        <p>(ENCARGADO) ______________________________________________________, con domicilio en
                          ___________________________________________, NIF/CIF nº ________________________, presta servicios de
                          ________________________________________ .</p>
                        <ul>
                          <li>
                            <p>Puede consultar la política de privacidad y demás aspectos legales de la compañía en el siguiente
                              enlace: ____________________________________________</p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    -->
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Datos recopilados por usuarios de los servicios
                    </p>
                    <p>En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido, GardenForYou no se hace responsable del incumplimiento por parte del usuario del Reglamento General de Protección
                        de Datos.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Mediaciones
                    </p>
                    <p>GardenForYou es una Página Web que actúa como mero intermediario entre el vendedor y el comprador. No es propietario de ninguno de los insectos o plantas en venta o vendidos a través de la plataforma y no es parte en la compraventa
                        llevada a cabo exclusivamente entre compradores y vendedores. GardenForYou se reserva el derecho a eliminar cualquier producto si no está vinculado a las plantas o insectos, o a editarlo en caso de estar mal clasificado.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Información de contacto
                    </p>
                    <p>Si tiene alguna duda respecto a la recogida y el uso de sus datos como parte del uso que haga de la plataforma, o respecto a sus derechos, póngase en contacto con nuestra persona delegada de protección de datos:</p>
                    <p>La persona delegada de protección de datos de GardenForYou de acuerdo con el Reglamento General de Protección de Datos es:</p>
                    <!--<p>Nombre del DPD</p>
                    <p>Calle Principal, 1</p>
                    <p>12345 Castilla-La Mancha</p>
                    <p>España</p>
                    <p>Tel.: 123456789</p>-->
                    <p>E-mail: gardenforyou.contact@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
