<div class="bg-light">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <form ngNativeValidate [formGroup]="mForm" (ngSubmit)="signUp()" class="form-group">
                <div class="col-12">
                    <div class="row justify-content-center mt-2">
                        <a href="/" class="py-2">
                            <img src="{{ title }}" height="70px" width="351px" />
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <h1 class="font-weight-normal mt-1 mb-3">Registro</h1>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6 col-sm-12 my-2">
                            <label for="inputName" class="mb-0">Nombre</label>
                            <input type="text" autofocus class="form-control mt-0" formControlName="firstName" id="inputName" placeholder="Nombre" required>
                        </div>
                        <div class="col-md-6 col-sm-12 my-2">
                            <label for="inputSurname" class="mb-0">Apellidos</label>
                            <input type="text" class="form-control mt-0" formControlName="lastName" id="inputSurname" placeholder="Apellidos" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label for="birthday" class="mb-0">Fecha de nacimiento</label>
                            <input type="date" class="form-control mt-0" formControlName="dateOfBirth" id="birthday" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label for="inputEmail" class="mb-0">Email</label>
                            <input type="email" class="form-control mt-0" formControlName="email" id="inputEmail" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label for="inputPassword" class="mb-0">Contraseña
                              <small class="d-flex">
                                (mínimo más de 8 caracteres, una letra mayúscula, una minúscula y un número)
                              </small>
                            </label>
                            <input type="password" class="form-control mt-0" formControlName="password" id="inputPassword" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label for="inputAgainPassword" class="mb-0">Repite la contraseña</label>
                            <input type="password" class="form-control mt-0" formControlName="repitPassword" id="inputAgainPassword" placeholder="Repite la contraseña" required>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-1 mr-0">
                            <input type="checkbox" class="form-control" formControlName="acceptPrivacyAndUse" id="checkPrivacyUse" required>
                        </div>
                        <div class="col-11 pl-0 ml-0 mt-2">
                            <label for="checkPrivacyUse">He leído y acepto las <a href="legal/terms-of-use">Condiciones de Uso</a> y <a href="legal/privacy-policies">Política de Privacidad</a>.</label>
                        </div>
                    </div>
                    <div *ngIf="error != ''" class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    <div class="row justify-content-center mb-2 mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block p-2">Regístrate</button>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <a class="nav-link" [routerLink]="['/login']">
                        ¿Ya tienes cuenta? Inicia sesión.
                        <span class="sr-only">(current)</span>
                      </a>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <p class="text-muted">© 2021</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>