<div class="d-flex flex-column p-3 bg-gray-200" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active"></a>
        </li>
    </ul>
</div>






<!--
  col-md-4 order-md-1 mb-4">
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            Datos de perfil
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            Cuenta
        </li>
    </ul>
</div>
-->
