<div class="nav-pills d-flex flex-column sm-row p-3 bg-gray-200">
    <div class="nav-item">
        <a class="nav-link" [routerLink]="['/edit/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Datos de perfil
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" [routerLink]="['/edit/account']" routerLinkActive="active">
          Cuenta
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" id="publicProfileLink" (click)="goToProfile()">
          Perfil público <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-danger" (click)="logout()">
          Cerrar sesión <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</div>
