@import "../../styles";

#user-part {
  img {
    height: 45px;
    cursor: pointer;
  }

  .h3 {
    cursor: pointer;
  }
}

#carouserImages {
  img {
    height: 500px;
    object-fit: cover;
  }
}

h1 {
  font-size: 34px;
}
