<div class="container-fluid bg-light">
    <div class="col-12 pt-3">
        <div class="row">
            <div class="container">
                <div class="col-12 pb-5">
                    <h1 class="font-weight-normal pt-3 text-center">
                        Términos y condiciones de uso
                    </h1>

                    <p class="h5 mt-5 mb-3 text-uppercase">
                        ¿Quiénes somos?
                    </p>
                    <p>GardenForYou es un servicio de alojamiento en línea intermediario que permite a los usuarios ponerse en contacto mediante el envío de mensajes privados para realizar el proceso de intercambio y/o venta de insectos y bichos. Era necesario
                        crear esta plataforma ya que existía una necesidad no cubierta para los amantes de las plantas y de la cría de insectos.</p>
                    <p>GardenForYou solo facilita la comunicación para realizar la compra, venta o intercambio de plantas y bichos, no compra, vende o intercambia los insectos o bichos mostrados en el sitio web.</p>
                    <p>Esta plataforma está gestionada por la empresa GardenForYou, con sede en Castilla-La Mancha, España, y número de registro 000000000 en el registro mercantil de España.</p>

                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Información relevante
                    </p>
                    <p class="mt-3">Aquí se describen los términos y condiciones generales aplicables al uso de los contenidos, productos y servicios a través de GardenForYou.</p>
                    <P>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios a través de la plataforma,
                        así como la compra o venta de productos a través de GardenForYou, implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Para ponerse en contacto para adquirir cualquier insecto o planta,
                        será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</P>
                    <p>El usuario puede elegir y cambiar la contraseña para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para ponerse en contacto con otro usuario para la compra de algún
                        producto. GardenForYou no asume la responsabilidad en caso de que el usuario entregue dicha contraseña a terceros.</p>
                    <p>
                        <span class="h6">ATENCIÓN:</span> GardenForYou no se hace responsable del uso que se le dé a los productos que estén en venta. La compra y venta de estos insectos y/o bichos no pasa ninguna inspección sanitaria para poderse considerar
                        alimento, ni usos semejantes que no sean simplemente para la cría de estos insectos o plantas. Si es como alimento vivo, solo sería para uso en animales u otros insectos, no para consumo humano.
                    </p>
                    <!--cuando permitas compras a través de la Página Web
                    <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web,
                      están sujetas a un proceso de confirmación y verificación, el cual podría incluir la
                      verificación del stock y disponibilidad de producto, validación de la forma de pago,
                      validación de la factura (en caso de existir) y el cumplimiento de las condiciones
                      requeridas por el medio de pago seleccionado. En algunos casos puede que se
                      requiera una verificación por medio de correo electrónico.</p>
                    -->
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        ¿Quién puede ser usuario de GardenForYou?
                    </p>
                    <p>Puede ser usuario de GardenForYou toda aquella persona física que sea mayor de 18 años y se haya registrado en el sitio. Para los menores de edad, no se recomienda el uso para menores de 16 años y el uso de los servicios deberá estar
                        controlado y supervisado por el padre/la madre o tutor/tutora (que debe ser una persona adulta mayor de edad) del menor. GardenForYou se reserva el derecho a comprobar en cualquier momento la edad de los usuarios de su Página Web
                        <!-- y aplicación. Así como toda persona jurídica que indique en su perfil que es un perfil profesional.-->
                        . Los usuarios pueden ser compradores y/o vendedores en el sitio.</p>
                    <p>Los usuarios tienen derecho a utilizar todos los servicios de GardenForYou con el fin de satisfacer sus intereses personales no relacionados con la actividad profesional. No se permiten actividades comerciales en GardenForYou. Si el
                        vendedor se presenta en GardenForYou como consumidor o como vendedor no profesional cuando en realidad es un vendedor profesional, dicho vendedor se enfrentará a las siguientes sanciones relacionadas con prácticas comerciales engañosas:
                    </p>
                    <p>España: Una multa de hasta 601 012 euros (artículos 49 y siguientes del Real Decreto Legislativo 1/2007 para la Defensa de los Consumidores). Dichos vendedores también podrán estar sujetos a obligaciones sociales y fiscales.</p>
                    <!--
                    <p>Francia: Prisión de hasta 2 años y multa de 300 000 € (artículo L 132-2 del código de Consumo francés).</p>
                    <p>Bélgica: Una multa de 80 000 € (artículo XV. 83, 13.º del Código de Derecho económico belga). También podrán estar sujetos a obligaciones sociales y fiscales.</p>
                    <p>Países Bajos: Una multa de hasta 900 000 € o el 10% de facturación del vendedor, si este importe es superior (artículos 2.15(2) y 8.8 de la Ley neerlandesa de protección del consumidor y el artículo 6:193b del Código Civil neerlandés).
                        El vendedor también podrá ser considerado responsable de daños causados y el acuerdo suscrito, por ello, es anulable (artículos 6:193b y 6:193j del Código Civil neerlandés).  Dichos vendedores también podrán estar sujetos a obligaciones sociales
                        y fiscales.
                    </p>
                    <p>Luxemburgo: Una multa de un máximo de 120 000 euros (artículo L 122-8 del Código de Consumo de Luxemburgo). Dichos vendedores también podrán estar sujetos a obligaciones sociales y fiscales.</p>
                    <p>Alemania: Podrá ser considerado responsable de los daños y perjuicios (incluido el decomiso de beneficios) causados como consecuencia de prácticas comerciales engañosas(artículo 3, apartado 3 y n.º 23 del anexo del Código de competencia
                        desleal de Alemania, los artículos 8, 9 y 10 del Código de competencia desleal de Alemania y el artículo 823, apartado 2 del Código Civil alemán, así como el artículo 280 y el artículo 241 del Código Civil alemán). Asimismo, el acuerdo
                        suscrito podrá declararse nulo de conformidad con el artículo 119, apartado 2 del Código Civil alemán. Si el consumidor, a pesar del engaño del vendedor, decide no anular el contrato, el derecho de desistimiento no rescinde después
                        de 14 días (como ocurriría normalmente), sino después de 1 año y 14 días según el artículo 356, apartado 3 del Código Civil alemán, dado que el vendedor no cumplió con sus obligaciones de informar al consumidor de conformidad con la
                        legislación alemana (artículo 246 y siguientes de la Ley alemana de introducción al Código Civil o EGBGB). También podrán estar sujetos a obligaciones sociales y fiscales.</p>
                    <p>Italia: Una multa de entre 5 000 y 5 000 000 euros, prevista en el artículo 27, apartado 9 del Código de consumo italiano. Dichos vendedores también podrán estar sujetos a obligaciones sociales y fiscales.</p>
                    <p>Austria: Podrá ser considerado responsable de los daños y perjuicios causados como consecuencia de las prácticas comerciales engañosas de conformidad con los artículos 1 y siguientes de la Ley de competencia desleal de Austria, así como los
                        artículos 14 y siguientes de la Ley de competencia desleal de Austria  y los artículos 1295 y siguientes del Código Civil austriaco. Asimismo, el acuerdo suscrito podrá declararse nulo de conformidad con los artículos 870 y siguientes
                        del Código Civil austriaco. Si el consumidor, a pesar del engaño del vendedor, decidiese no anular el contrato, el derecho de desistimiento no rescindiría después de 14 días (como ocurriría normalmente), sino después de 1 año y 14 días
                        según el artículo 12 de la Ley de transacciones externas y distancia de Austria, dado que el vendedor no cumplió con sus obligaciones de informar al consumidor de conformidad con la sección 4 de la Ley de transacciones externas y distancia
                        de Austria.</p>
                    -->
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        ¿Qué se puede vender en GardenForYou?
                    </p>
                    <ul>
                        <li>
                            <p>
                                Plantas de todo tipo.
                            </p>
                        </li>
                        <li>
                            <p>
                                Insectos vivos en cualquier estadio.
                            </p>
                        </li>
                        <li>
                            <p>
                                Insectos disecados para colección.
                            </p>
                        </li>
                        <li>
                            <p>
                                Insectos disecados en resina.
                            </p>
                        </li>
                    </ul>
                    <p>Por tanto, el resto de productos quedan prohibidos para la venta en esta Página Web.</p>
                    <p>GardenForYou se reserva el derecho a eliminar cualquier producto si no está vinculado a las plantas o insectos, o a editarlo en caso de estar mal clasificado.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Cómo subir tu producto a GardenForYou
                    </p>
                    <p>Subir productos en GardenForYou es gratuito. Un vendedor, al incluir un producto a su listado de productos, debe rellenar un cuestionario y describir el producto con la mayor precisión posible incluyendo el precio. A ser posible, indicar
                        también categoría y subcategoría y en el caso de insectos disecados indicar cualquier posible defecto que pueda tener. </p>
                    <p>El producto anunciado deberá tener, si es posible, de 1 a 3 fotos, de una calidad de imagen inferior a 2MB. Las fotografías deben mostrar bien el producto que se quiere vender, así como cualquier desperfecto en el caso de insectos
                        disecados.
                    </p>
                    <p>No se puede anunciar el mismo producto más de una vez. Así mismo, GardenForYou no ofrece la opción al usuario para elegir cuántos de los mismos productos quiere comprar.</p>
                    <p>El Usuario interesado en adquirir un producto debe tener en cuenta que cuando se compromete a comprar un artículo, por un precio establecido, está suscribiendo un contrato de compraventa legalmente vinculante con otro Usuario. Asimismo,
                        el Usuario deberá tener en cuenta que al adquirir un artículo, será considerado sujeto pasivo del Impuesto sobre Transmisiones Patrimoniales Onerosas y Actos Jurídicos Documentados (“ITPAJD”), modalidad TPO, obligándose a mantener
                        a GardenForYou totalmente indemne en caso de no dar cumplimiento a dicha obligación.</p>
                    <p>A la hora de publicar sus anuncios el Usuario deberá tomar en consideración las reglas de convivencia.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Mediaciones
                    </p>
                    <p>GardenForYou es una Página Web que actúa como mero intermediario entre el vendedor y el comprador. No es propietario de ninguno de los insectos o plantas en venta o vendidos a través de la plataforma y no es parte en la compraventa
                        llevada a cabo exclusivamente entre compradores y vendedores. GardenForYou no revisa ni valida los productos que los usuarios ofrecen a través del servicio, por lo que GardenForYou no será en ningún caso responsable, ni directa
                        ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la utilización y contratación de los contenidos y de las actividades de los usuarios y/o de terceros a través del servicio,
                        así como tampoco será responsable de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.</p>
                    <p>Con carácter general, los productos adquiridos a través de la Página Web de GardenForYou no pueden ser devueltos, salvo en aquellos casos en los que así sea pactado entre vendedor y comprador. Con carácter general, el derecho de desistimiento
                        no resulta de aplicación a las transacciones realizadas a través de la aplicación de GardenForYou, salvo en aquellos casos en los que la ley lo reconozca expresamente, en cuyo caso, dicho derecho deberá hacerse valer directamente
                        por el comprador frente al vendedor, sin que GardenForYou pueda resultar en ningún caso responsable en el supuesto de incumplimiento por parte del vendedor.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        ¿GardenForYou puede eliminar una cuenta?
                    </p>
                    <p>En los siguientes casos, GardenForYou puede tomar acciones en contra de los usuarios:</p>
                    <ul>
                        <li>
                            <p>
                                Infringir o incumplir las obligaciones que les incumben en virtud de los Términos y condiciones de uso, la
                                <a href="legal/privacy-policies">Política de Privacidad</a> u otras normas de la Página Web.
                            </p>
                        </li>
                        <li>
                            <p>Proporcionar información incorrecta y/o engañosa de acuerdo a los Términos y condiciones de uso en el momento de su registro o de su utilización de la Página Web.</p>
                        </li>
                        <li>
                            <p>Revelar de forma deliberada e intencionada información incorrecta en la Página Web, insultar a otras personas o actuar de manera inapropiada.</p>
                        </li>
                        <li>
                            <p>Utilizar la identidad de otros usuarios o actuar de manera ilícita.</p>
                        </li>
                        <li>
                            <p>Usuarios que hayan recibido al menos tres advertencias de GardenForYou.</p>
                        </li>
                    </ul>
                    <!--para realizar bloqueos <p>Las acciones emprendidas por GardenForYou pueden ser las siguientes: eliminar los anuncios subidos por el usuario, suspender la cuenta del usuario, bloquearla (en particular en caso de mala conducta repetida). En caso de bloqueo, el usuario ya no tendrá derecho a volver a registrarse en el sitio.</p>-->
                    <p>Los anuncios pueden atraer la atención de GardenForYou enviando un correo a
                        <a class="text-center mt-2 mb-4" id="emailContact" [href]="'mailto:gardenforyou.contact@gmail.com'">gardenforyou.contact@gmail.com</a>
                    </p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Derechos legales de los compradores
                    </p>
                    <p>GardenForYou es una plataforma de comunicación para la compra, venta e intercambio realizadas entre particulares.</p>
                    <p class="h6">Ausencia del derecho a desistimiento</p>
                    <p>Al ser entre particulares, las disposiciones de los actos jurídicos aplicables no incluyen ninguna obligación de los vendedores a ofrecer un derecho de desistimiento. Aún así, es posible que algunos vendedores privados decidan ofrecer
                        la opción de devolver/descambiar el producto indicándolo en la descripción del producto.</p>
                    <p>Compradores y vendedores pueden chatear y acordar completar la transacción por fuera de la plataforma de GardenForYou. El comprador y el vendedor serán responsables de lo siguiente:</p>
                    <ul>
                        <li>
                            <p>La correcta implementación de la transacción.</p>
                        </li>
                        <li>
                            <p>La organización y las consecuencias del envío del producto.</p>
                        </li>
                    </ul>
                    <p class="h6">Garantías jurídicas</p>
                    <p>La garantía de conformidad legal establecida en el Código de Consumo no se aplica a las ventas realizadas entre particulares.</p>
                    <p>Sin embargo, los vendedores están vinculados por la garantía de defectos ocultos de conformidad con el artículo 1484 y siguientes del Código Civil español: «El vendedor se responsabilizará por cualquier defecto oculto que tuviere el
                        producto vendido, si tal defecto impide el uso previsto del mismo  o si disminuye de tal modo este uso que, de haber conocido el comprador tal defecto, no habría adquirido el producto o habría dado menos precio por este».</p>
                    <p>Las disposiciones legales que se aplican a las transacciones entre particulares:</p>
                    <ul>
                        <li>
                            <p>Las disposiciones del Código Civil español relativas al Derecho de las obligaciones están disponibles <a href="https://www.boe.es/buscar/act.php?id=BOE-A-1889-4763&p=20180804&tn=1#liv">aquí</a>.</p>
                        </li>
                        <li>
                            <p>Las disposiciones del Código Civil español en materia de responsabilidad civil contractual están disponibles <a href="https://www.boe.es/buscar/act.php?id=BOE-A-1889-4763&p=20180804&tn=1#art1101">aquí</a>.</p>
                        </li>
                    </ul>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Normas de utilización del servicio
                    </p>
                    <p>El Usuario se obliga a utilizar el Servicio conforme a lo establecido en la ley, la moral, el orden público y los presentes Términos de Uso. Asimismo, se obliga a hacer un uso adecuado del Servicio y a no emplearlo para realizar actividades
                        ilícitas o constitutivas de delito, que atenten contra los derechos de terceros o que infrinjan cualquier norma del ordenamiento jurídico.</p>
                    <p>El Usuario se obliga a no transmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo de material e información (productos, objetos, datos, contenidos, mensajes, dibujos, archivos de sonido e imagen, fotografías,
                        software, etc.) que sean contrarios a la ley, la moral, el orden público y los presentes Términos de Uso. A título enunciativo y en ningún caso limitativo o excluyente, el Usuario se compromete a:</p>
                    <ol>
                        <li>
                            No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo o que atenten contra los derechos humanos.
                        </li>
                        <li>
                            No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que atente contra los derechos fundamentales y las libertades públicas reconocidos constitucionalmente y en los tratados internacionales.
                        </li>
                        <li>
                            No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que constituya publicidad ilícita o desleal.
                        </li>
                        <li>
                            No transmitir publicidad no solicitada o autorizada, material publicitario, “correo basura”, “cartas en cadena”, “estructuras piramidales”, o cualquier otra forma de solicitación
                            <!--, excepto en aquellas áreas (tales como espacios comerciales) que hayan sido exclusivamente concebidas para ello-->.
                        </li>
                        <li>
                            No introducir o difundir cualquier información y contenidos falsos, engañosos, ambiguos o inexactos de forma que induzca o pueda inducir a error a los receptores de la información.
                        </li>
                        <li>
                            No suplantar a otros Usuarios del Servicio ni transmitir los datos de acceso a la cuenta ni la contraseña a un tercero sin el consentimiento de GardenForYou.
                        </li>
                        <li>
                            No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido sin autorización de los titulares de los derechos de propiedad intelectual e industrial que puedan recaer sobre tal información, elemento o contenido.
                        </li>
                        <li>
                            No difundir, transmitir o poner a disposición de terceros fotografías ni cualquier representación o imagen de personas menores de edad.
                        </li>
                        <li>
                            Cualquier sustancia que requiera una receta médica o que deba dispensarse bajo la supervisión de un médico (doctor, dentista, optometrista, óptico, farmacéutico o veterinario) no está permitida en GardenForYou, así como los productos que puedan influir
                            en la salud del individuo (que presenten contraindicaciones, interacciones, etc) y perecederos de cualquier tipo.
                        </li>
                        <li>
                            Es obligatorio disponer de autorización sanitaria de funcionamiento para desarrollar cualquier actividad sanitaria (número de colegiado o número de registro del centro).
                        </li>
                    </ol>
                    <p>El Usuario se obliga a mantener indemne a GardenForYou ante cualquier posible reclamación, multa, pena o sanción que pueda venir obligada a soportar como consecuencia del incumplimiento por parte del Usuario de cualquiera de las normas
                        de utilización antes indicadas reservándose, además GardenForYou, el derecho a solicitar la indemnización por daños y perjuicios que corresponda.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Exclusión de usuarios
                    </p>
                    <p>GardenForYou se reserva el derecho a impedir el uso del Servicio, ya sea de forma temporal o definitiva, a cualquier Usuario que infrinja cualquiera de las normas establecidas en estos Términos de Uso, la ley o la moral. Discrecionalmente,
                        GardenForYou también podrá excluir Usuarios e incluso dejar de prestar total o parcialmente el Servicio cuando así lo considere oportuno para mejorar la operativa del Servicio y/o del resto de los usuarios del mismo.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Exclusión de responsabilidad
                    </p>
                    <p>
                        GardenForYou no es propietaria de ninguno de los productos en venta o vendidos a través de su plataforma y no es parte en la transacción de compraventa llevada a cabo exclusivamente entre compradores y vendedores ni revisa o valida los productos que los
                        Usuarios ofrecen a través del Servicio, por lo que GardenForYou no será responsable, ni directa ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la utilización de los contenidos
                        y de las actividades de los Usuarios y/o de terceros a través del Servicio así como de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.
                    </p>
                    <p>Con carácter enunciativo, y en ningún caso limitativo, GardenForYou no será responsable por los daños y perjuicios de cualquier naturaleza derivados de:</p>
                    <ul>
                        <li>
                            La utilización que los Usuarios hagan del Servicio ni por el estado, origen, posible inexactitud, o posible falsedad de los datos proporcionados por los Usuarios ni de los productos ofrecidos a través del Servicio.
                        </li>
                        <li>
                            Los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras personas o entidades que se comuniquen o exhiban a través del Servicio (incluye el envío de imágenes a través del chat).
                        </li>
                        <li>
                            La realización de actos de competencia desleal y publicidad ilícita.
                        </li>
                        <li>
                            La eventual pérdida de datos de los Usuarios por causa no atribuible al Servicio.
                        </li>
                        <li>
                            El acceso de menores de edad a los contenidos incluidos en el Servicio.
                        </li>
                        <li>
                            La indisponibilidad, errores, fallos de acceso y falta de continuidad del Servicio.
                        </li>
                        <li>
                            Los fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas.
                        </li>
                        <li>
                            La no operatividad o problemas en la dirección de email facilitada por el Usuario.
                        </li>
                    </ul>
                    <p>GardenForYou responderá única y exclusivamente frente al Usuario de los Servicios que preste por sí misma y de los contenidos directamente originados e identificados con su copyright, quedando limitada, como máximo, al importe de las
                        cantidades percibidas directamente del Usuario por GardenForYou, con exclusión en todo caso de responsabilidad por daños indirectos o por lucro cesante.</p>
                    <p>Cualquier reclamación o controversia que pueda surgir entre los Usuarios del Servicio deberá ser solventada entre éstos, obligándose a mantener a GardenForYou totalmente indemne, sin perjuicio de lo cual GardenForYou realizará sus
                        mejores esfuerzos para facilitar a los Usuarios una solución satisfactoria cuanto antes a través de su Servicio de Atención al Usuario.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Links y contenidos de servicios externos a través del Servicio
                    </p>
                    <p>El Servicio puede incluir dispositivos técnicos de enlace, directorios e incluso instrumentos de búsqueda que permitan al Usuario acceder a otras páginas y portales de internet (en adelante, "Sitios Enlazados").</p>
                    <p>El Usuario reconoce y acepta que el acceso a los Sitios Enlazados será bajo su exclusivo riesgo y responsabilidad y exonera a GardenForYou de cualquier responsabilidad sobre eventuales vulneraciones de derechos de propiedad intelectual
                        o industrial de los titulares de los Sitios Enlazados. Así mismo el Usuario exonera a GardenForYou de cualquier responsabilidad sobre la disponibilidad técnica de las páginas web enlazadas, la calidad, fiabilidad, exactitud y/o
                        veracidad de los servicios, informaciones, elementos y/o contenidos a los que el Usuario pueda acceder.</p>
                    <p>En estos casos, GardenForYou solamente será responsable de los contenidos y servicios suministrados en los Sitios Enlazados en la medida en que tenga conocimiento efectivo de la ilicitud y no haya desactivado el enlace con la diligencia
                        debida. En el supuesto de que el Usuario considere que existe un Sitio Enlazado con contenidos ilícitos o inadecuados podrá comunicárselo a GardenForYou, sin que en ningún caso esta comunicación conlleve la obligación de retirar
                        el correspondiente enlace.</p>
                    <p>En ningún caso, la existencia de Sitios Enlazados debe presuponer la formalización de acuerdos con los responsables o titulares de los mismos, ni la recomendación, promoción o identificación de GardenForYou con las manifestaciones,
                        contenidos o servicios proveídos.</p>
                    <p>GardenForYou no conoce los contenidos y servicios de los Sitios Enlazados y, por tanto, no se hace responsable de forma directa o indirecta por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad, error
                        e inutilidad de los contenidos y/o servicios de los Sitios Enlazados ni por cualquier otro daño que no sea directamente imputable a GardenForYou.</p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Propiedad intelectual industrial
                    </p>
                    <p>Los derechos de propiedad industrial e intelectual sobre las obras, prestaciones protegidas y cualesquiera contenidos o elementos sobre los que recaigan derechos de propiedad intelectual e industrial que se usen en el Servicio (los
                        “Contenidos del Servicio”) pertenecen a sus legítimos titulares. El Usuario no adquirirá por el uso del Servicio ningún derecho de propiedad intelectual o industrial, ni licencia de uso alguna sobre tales elementos.</p>
                    <p>Son Contenidos del Servicio, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, bases de datos, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente utilizados en el Servicio.
                        Esta enumeración se realiza a título enunciativo y ejemplificativo, no limitativo.</p>
                    <ul>
                        <li>
                            El texto, las imágenes, los gráficos, los ficheros de sonido, los ficheros de animación, los ficheros de vídeo, el software y la apariencia del sitio web de GardenForYou son objeto de protección por derechos de propiedad intelectual e industrial. Esos
                            elementos no podrán ser válida y legítimamente copiados o distribuidos para uso comercial, ni podrán ser modificados o insertados en otros sitios web sin previa autorización expresa de sus titulares.
                        </li>
                        <li>
                            El Usuario manifiesta ser titular en exclusiva de todos los derechos que recaen sobre las obras, prestaciones protegidas y cualesquiera otros elementos protegidos por propiedad intelectual o industrial que incorpore en el Servicio (en adelante, los “Contenidos”).
                        </li>
                        <li>
                            El Usuario cede gratuitamente y en exclusiva a GardenForYou los derechos de comunicación pública, reproducción, distribución y transformación que tiene sobre los Contenidos, en todas las modalidades de explotación existentes en la fecha aceptación de
                            estos Términos de Uso, por todo el tiempo de vigencia de los derechos objeto de cesión, para el ámbito territorial universal.
                        </li>
                        <li>
                            GardenForYou no representa ni tiene vinculación empresarial alguna con las marcas que los Usuarios puedan anunciar en el Servicio y Apple no patrocina ni participa en modo alguno en las acciones llevadas a cabo por GardenForYou a través del Servicio.
                        </li>
                    </ul>
                    <p>Cualquier consulta relacionada con lo anterior puede plantearse a través del Servicio de Atención al Usuario a través de
                        <a class="text-center mt-2 mb-4" id="emailContact" [href]="'mailto:gardenforyou.contact@gmail.com'">gardenforyou.contact@gmail.com</a>
                    </p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Nulidad e ineficiencia de las cláusulas
                    </p>
                    <p>Si cualquier cláusula incluida en los presentes Términos de Uso fuese declarada total o parcialmente, nula o ineficaz, tal nulidad o ineficacia tan sólo afectará a dicha disposición o a la parte de la misma que resulte nula o ineficaz,
                        subsistiendo los presentes Términos de Uso en todo lo demás, considerándose tal disposición total o parcialmente por no incluida. </p>
                    <p class="h5 mt-5 mb-3 text-uppercase">
                        Legislación aplicable y jurisdicción competente
                    </p>
                    <p>Estos Términos de Uso se regirán e interpretarán conforme a la legislación española. En caso de litigio entre GardenForYou y el Usuario, éste podrá interponer su acción ante los tribunales españoles correspondientes al domicilio de
                        GardenForYou, o bien ante los tribunales del lugar donde el Usuario esté domiciliado.</p>
                    <p class="mt-5">GardenForYou se reserva el derecho a cambiar o modificar estos términos y condiciones de uso sin previo aviso.</p>
                </div>
            </div>
        </div>
    </div>
</div>