<p
  [ngClass]="{
    'text-right': message.senderId == userId,
    'text-left': message.senderId != userId
  }"
>
  <div
    [ngClass]="{
      'bg-light': message.senderId == userId,
      'bg-white': message.senderId != userId
    }"
    class="p-2 border border-light rounded shadow"
  >
    {{ message.text }}
  </div>
</p>
<p
  [ngClass]="{
    'text-right': message.senderId == userId,
    'text-left': message.senderId != userId
  }"
  class="text-muted"
>
  {{ message.date | date: "short" }}
</p>
