@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$green:#8EC06C;
//when &:hover
$darkergreen: #85b465;
//Color fonts:
$grey: #737373;
$dark-green: #1E7400;
//for background colors:
$white: #ECEFF1;
$bg-darkergrey: #BDBDBD;
//Bootstrap colors and themes:
$blue: $green;
$success: $green;
$info: $green;
$warning: $green;
$primary: $green;
$cyan:$green;
$secondary: #BDBDBD;
$gray-100: #DCDCDC;
$gray-200: #BDBDBD;
$dark: #354829;
$danger: #DC3D54;
$red: #DC3D54;
//la de info me hace dudar entre ponerle el verde clarito y el verde oscuro que tiene ahora.
$info: #354829;
$gray-900: black;
$light: #ECEFF1;
