@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
$green: #60A72F;
//when &:hover
$darkergreen: #528F29;
//Color fonts:
$black: black;
$gray: #737373;
$dark-green: #1e7400;
//for background colors:
$bg-darkergrey: #bdbdbd;
//Bootstrap colors and themes:
$blue: $green;
$success: $green;
$info: $green;
$warning: $green;
$primary: $green;
$cyan: $green;
$secondary: #bdbdbd;
$gray-100: #dcdcdc;
$gray-200: #bdbdbd;
$dark: #354829;
$danger: #dc3d54;
$red: #dc3d54;
//la de info me hace dudar entre ponerle el verde clarito y el verde oscuro que tiene ahora.
$info: #354829;
$gray-900: $black;
$light: #eceff1;
@import "../node_modules/bootstrap/scss/bootstrap";
//-----------custom-class---------------------
* {
    font-size: 18px;
}

.shadow-gray {
    box-shadow: 0px 2px 15px $gray-200;
}

.btn {
    transition: all 0.6s ease;
}

.btn.btn-primary {
    color: white;
    transition: all 0.6s ease;
}

.header-icon {
    font-size: 2em;
}
