@import "../../styles";
.image {
    background-image: url("../../assets/images/fondo-home.jpeg");
    background-color: $light;
}

p {
    font-size: 20px;
}

i {
    font-size: 64px;
}

a {
    text-decoration: underline;
    &:hover {
        color: $dark-green;
    }
}

.btn-light {
    color: $green;
    &:hover {
        color: $dark-green;
    }
    p {
        color: $black;
    }
}

.btn {
    transition: all 0.6s ease;
}